// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.table.table-striped tbody tr td a {
  text-decoration: underline;
  color: darkblue;
}


table.table.table-striped tbody tr td a:hover {
  background-color: lightgray;
}

table.table.table-striped tbody tr td a:visited{
  color: purple;
}
